.fiscalpopUp{
    position: absolute;
    top:50%;
    left:50%;
    width:50%;
    transform: translate(-50%,-50%);
    background-color: white;
    min-height: 50vh;
    display: none;
    z-index: 1000;
}